In [6]:
import pandas as pd
from sentence_transformers import SentenceTransformer
import faiss

In [25]:
df = pd.read_csv('data.csv')

In [26]:
df.columns

Index(['id', 'createdAt', 'campaignId', 'sender', 'message', 'type',
       'deliverableInput', 'deliverableStageId'],
      dtype='object')

In [27]:
df.head()

,id,createdAt,campaignId,sender,message,type,deliverableInput,deliverableStageId
0,17073,28:56.7,f82a2cd4-a074-4760-980b-3a8bd887ffc3,Milanote,Approved Video Topic & Milanote Use Case With ...,approved,I’ve got a home decor themed video planned for...,1.0
1,17072,27:08.9,f82a2cd4-a074-4760-980b-3a8bd887ffc3,Milanote,Submitted Brief,submitted,<p>https://www.notion.so/milanote/averpaula-Cr...,8.0
2,17071,26:48.7,f82a2cd4-a074-4760-980b-3a8bd887ffc3,Milanote,Submitted CTA,submitted,<p>Please include these NEW links in the live ...,NaN
3,17069,59:47.8,67de9058-d460-42b9-9d3d-84830ef3080d,Milanote,Approved Draft Script With Feedback:\nHey Jame...,approved,OK guys while that’s drying. I will tell you a...,4.0
4,17068,56:12.1,8493b5f3-3c49-4ab9-9314-a48837911d59,Milanote,Approved Draft Script With Feedback:\nHey YeeJ...,approved,-I’ve always wanted to design my own character...,4.0

In [28]:
len(df)

336

In [29]:
df.describe()

                 id  deliverableStageId
count    336.000000          280.000000
mean   15109.785714            4.200000
std     1583.320914            2.655082
min    10902.000000            1.000000
25%    14321.750000            2.000000
50%    15411.000000            4.000000
75%    16430.750000            7.000000
max    17073.000000            8.000000

In [30]:
df['type'].unique()

array(['approved', 'submitted', 'rejected'], dtype=object)

In [32]:
df['campaignId'].unique().shape

(70,)

In [5]:
briefs = df[df['message'] == "Submitted Brief"]['deliverableInput'].tolist()
brief_ids = df[df['message'] == "Submitted Brief"]['campaignId'].tolist()